

body {
    background: lightgreen;
}

article {
    background:lightyellow;
    padding:0px 10px;
    margin:10px 0;
}

.main-header {
    color: green;
}

.second-header {
    color: brown;
}

.third-header {
    color: green;
}

a {
    color: green;
}
.matrix {
    float:left;
    clear:right;
    margin:0 10px 0 0;
}